footer {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    padding: 47px 15px 43px;
    background-color: $primary-color;
  }
  .top-1, .top-2, .bot-1, .bot-2, .bot-3 {
    display: flex;
    flex-direction: column;
    h4 {
      color: white;
      font-weight: 400;
      margin-bottom: 26px;
    }
    
    a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    }
    ul {
      list-style-type: none;
      color: #ffffff;
      font-size: 13px;
      line-height: 22px;
      padding-inline-start: 0;
    }
  }
  // .top-1, .top-2 {
  //   width: fit-content;
  // }
  .top-group {
    display: flex;
    flex-direction: row;
  }
  .bot-group {
    display: flex;
    flex-direction: row;
  }
  
  .top-2 {
    margin-left: 70px;
    margin-right: 70px;
  }
  .top-1, .top-2, .bot-2, .bot-3 {
    margin-bottom: 30px;
  }
  .bot-2 {
    margin-left: 40px;
  }
  .another-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  // .pos {
  //   transform: translateX(79px); //ensure sml bp only
  // }
  
  [class^="bot"] {
    a:hover {
      text-decoration: underline;
   }
  }
  
  .low-sec {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    margin-top:  10px;
    border-top: 1px solid #888;
    justify-content: space-between;
  }
  .ok {
      font-size: 13px;
      font-weight: 400;
      line-height: 20.5714px;
      color: white;
      text-align: left;
      margin: 0;
        a {
          text-decoration: none;
          color: white;
        }
  }
  .social-media {
    display: flex;
    flex-direction: row;
    transform: translateY(-10px);
    
      a {
        color: white;
        text-decoration: none;
        padding: 10px 10px 10px;
        max-height: 38px;
     }
  }
  .facebook:hover {
    background-color: #3b5998;
    border-radius: 50%;
    background-origin: padding-box;
  }
  .twitter:hover {
    background-color: #00aced;
    border-radius: 50%;
    background-origin: padding-box;
  }
  .insta:hover {
    background-color: #d93175;
    border-radius: 50%;
    background-origin: padding-box;
  }
  .lin:hover {
    background-color: #0077b5;
    border-radius: 50%;
    background-origin: padding-box;
  }
  // .facebook:hover {
  //   background-color: #3b5998;
  //   border-radius: 50%;
  //   background-origin: padding-box;
  // }
  