footer {
    display: flex;
    flex-direction: column;
    // flex-wrap: wrap;
    padding: 45px 15px 33px;
    background-color: $primary-color;
  }
  .top-1, .top-2 {
    display: flex;
    flex-direction: column;
    h4 {
      color: white;
      font-weight: 400;
      margin-bottom: 24px;
    }
    a {
      text-decoration: none;
      color: #ffffff;
      font-size: 13px;
      }
      a:hover {
        text-decoration: underline;
        }
  }
  .bot-1, .bot-2, .bot-3  {
    display: flex;
    flex-direction: column;
    h4 {
      color: white;
      font-weight: 400;
      margin-bottom: 22px;
    }
       
    a {
    text-decoration: none;
    color: #ffffff;
    font-size: 13px;
    }
  }
    ul {
      list-style-type: none;
      color: #ffffff;
      font-size: 13px;
      line-height: 22px;
      padding-inline-start: 0;
    }
  
  // .top-1, .top-2 {
  //   width: fit-content;
  // }
  .top-group {
    display: flex;
    flex-direction: row;
  }
  .bot-group {
    display: flex;
    flex-direction: row;
  }
  

  .another-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  // .pos {
  //   transform: translateX(79px); //ensure sml bp only
  // }
  
  [class^="bot"] {
    a:hover {
      text-decoration: underline;
   }
  }
  .bot-1, .bot-2, .bot-3, .top-1, .top-2 {
    padding: 0;
    margin: 0;
    margin-bottom: 40px;
    justify-content: center;
  }
  .low-sec {
    display: flex;
    flex-direction: row;
    padding-top: 15px;
    border-top: 1px solid #888;
    justify-content: space-between;
  }
  .ok {
      font-size: 13px;
      font-weight: 400;
      line-height: 18.5714px;
      color: white;
      text-align: left;
      margin: 0;
        a {
          text-decoration: none;
          color: white;
        }
        a:hover {
          text-decoration: underline;
       }
  }
  .social-media {
    display: flex;
    flex-direction: row;
    transform: translateY(-10px);
    
      a {
        color: white;
        text-decoration: none;
        padding: 10px 10px 10px;
        max-height: 38px;
     }
     
  }
  .facebook:hover {
    background-color: #3b5998;
    border-radius: 50%;
    background-origin: padding-box;
  }
  .twitter:hover {
    background-color: #00aced;
    border-radius: 50%;
    background-origin: padding-box;
  }
  .insta:hover {
    background-color: #d93175;
    border-radius: 50%;
    background-origin: padding-box;
  }
  .lin:hover {
    background-color: #0077b5;
    border-radius: 50%;
    background-origin: padding-box;
  }
  // .facebook:hover {
  //   background-color: #3b5998;
  //   border-radius: 50%;
  //   background-origin: padding-box;
  // }
  @media (max-width: 480px) {
    .top-group, .bot-group {
      display: flex;
      flex-direction: column;
      padding: 0;
      margin: 0 auto;
      width: 225px;
    }
    .bot-1, .bot-2, .bot-3, .top-1, .top-2 {
      width: 225px;
    }
    .med-bp-fix {
      display: none;
    }
    .bot-3 {
      transform: none;
    }
  }

  @media (min-width: 480px) {
    .top-group, .bot-group {
      display: flex;
      flex-wrap: wrap;
      width: 450px;
      margin: 0 auto;
    }
    .bot-1, .bot-2, .bot-3, .top-1, .top-2 {
      width: 225px;
  }
  .bot-3 {
    transform: translateX(115px);
  }

}

@media (min-width: 722px) {
  .bot-group {
  width: 675px;
  margin: 0 auto;
  justify-content: center;
  }
  .bot-3 {
    transform: none;
  }

}
@media (min-width: 768px) {
  .bot-group {
  width: 720px;
  margin: 0 auto;
  justify-content: space-around;
  }
  .top-group {
    width: 645px;
    margin: 0 auto;
    justify-content: space-around;
  }
  .copyright {
    display: none;
  }
}
@media (max-width: 767px) {
  .copyright-1 {
    display: none;
  }
}
@media (min-width: 992px) {
  .bot-group {
  width: 880px;
  margin: 0 auto;
  justify-content: space-around;
  }
  .top-group {
    width: 785px;
    margin: 0 auto;
    justify-content: space-around;
  }

}

@media (min-width: 1260px) {
  .capture-px {
    display: none;
  }
  .low-sec {
    width: 1170px;
    margin: 0 auto;
  }
}
.big-footer {
  display: flex;
  flex-direction: row;
  width: 1200px;
  padding: 0 15px;

  
  margin: 0 auto;
  
    .bot-big-group {
      display: flex;
      flex-direction: row;
      margin-left: 45px;
    }
}
@media (max-width: 1259px) {
  .big-footer {
    display: none;
  }
  

}