* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 16px;
    font-family: 'poppins', sans-serif;
}
   
body {
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    letter-spacing: .4px;
    line-height: 22.85px;
    color: #666;
    height: 100%;
    margin: 0;
}
#wrapper {
    display: flex;
    width: 100vw;
    background-color: green;
 }

 .hidden {
    display: none;
    }