.container-welcome {
    display: flex;
    flex-direction: column;
    padding: 0 15px 0px;
    padding-top: 43px;
    background-color: $primary-color;
    color: #ffffff;
    
}


.h2 {
    font-size: 1.3rem;
    color: $primary-color;
    padding-bottom: 10px;
    margin: 0 0 11px;
}

.h2a {
  display: flex;
  font-size: 36px;
  padding-bottom: 40px;
  font-weight: 600;
  line-height: 39.6px;
  text-size-adjust: 100%;
  letter-spacing: 0.3px;
}
.h2b {
  line-height: 39.6px;
}

.pa {
 font-size: 16px;
 font-weight: 400;
 text-align: left;
 margin: 0px 0px 25px;
 line-height: 30px;
}

.a1 {
  color : #ffffff;
  text-decoration: none;
}
.a1:hover {
  text-decoration: underline;
}

// .btn-more {
//   display: flex;
//   flex-direction: row;
//   width: fit-content;
//   border: 1px solid transparent;
//   border-radius: 5px;
//   color: white;
//   background-color: #272936;
//   padding: 15px 30px;
//   font-size: 20px;
//   align-items: center;
//   text-transform: uppercase;
//   margin-bottom: 50px;
//   font-weight: 400;
//   a {
//     text-decoration: none;
//     color: #ffffff;
//   }  
// }

@mixin welcome-btns {
  display: flex;
  flex-direction: row;
  width: fit-content;
  border: 1px solid transparent;
  border-radius: 5px;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 50px;
  font-weight: 400;
  a {
    text-decoration: none;
    color: #ffffff;
  }  
}
.btn-more {
  @include welcome-btns;
  background-color: #272936;
}

.fa-arrow-right {
  margin-right: -4px;
  margin-left: 6px;
}
.btn-more:hover {
  background-color: #121318;
}
.h2b {
  display: flex;
  font-size: 36px;
  margin-bottom: 40px;
}
.star {
  display: flex;
  color: #ffa500;
   .fa-star {
   font-size: 42px;
   padding-right: 4px;
   margin-bottom: 30px;
   margin-top: 8px;
  }
 }
 .reviews {
display: flex;
flex-direction: column;
 p {
  font-size: 17.8px;
  color: #a3a8ac;
  text-align: left;
  margin-bottom: 25px;
  
 }
  h3 {
  font-weight: 600;
  font-size: 20.8px;
  font-style: italic;
  letter-spacing: .4px;
  line-height: 32px;
  margin-bottom: 25px;
 }
}
.review-btns {
  display: flex;
  flex-direction: column;
}
.btn-google {
  @include welcome-btns;
  background-color: #4387f6;
  margin: 20px 8px 0px 0px;
  width: 263.19px;
  height: 55px;
  }
.btn-google:hover {
    background-color: #116af4;
   }
.btn-trust {
  @include welcome-btns;
  background-color: #00b67b;
  margin-top: 20px;
  width: 294.05px;
  height: 55px;
  }
.btn-trust:hover {
    background-color: #009b69;
   }
   @media (min-width :616px){
    .review-btns {
      flex-direction: row;
    }
    .btn-google {
      flex-direction: row;
    
    }
    .btn-trust {
      flex-direction: row;
      margin-left: 5px;
    }

   }
   @media (min-width :768px) {
    .break-small {
      max-width: 720px;
      margin: 0 auto;
    }

   }
   @media (min-width :992px)
   {
    .break-small {
      display: flex;
      flex-direction: row;
      max-width: 970px;
      margin: 0 auto;
    }
    .break-med-col {
      padding: 0 15px;
      max-width: 485px;
    }
    .review-btns {
      display: flex;
      flex-direction: column;
    }
    .btn-trust {
      margin-left: 0px;
    }
   
   }
   @media (min-width :1259px) {
    .review-btns {
      flex-direction: row;
      margin-top: 35px;

    }
    .break-small {
      display: flex;
      flex-direction: row;
      max-width: 1200px;
      margin: 0 auto;
    }
    .break-med-col {
      padding: 0 15px;
      max-width: 600px;
    }
    .btn-trust {
      margin-left: 4px;
    }
   }