
  .sponsors {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    padding: 50px 0px;
    max-width: 100vw;
    overflow: hidden;
   }

  .img-sponsor {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }
  .img-sponsor:hover {
    -webkit-filter: grayscale(0);
    filter: none;
  }
 
  .item {
    display: flex;
    padding: 0px 20px;
    align-self: center;
  }
 .poz-me {
  position: relative;
 }
//  tooltip
  .tooltip {
    display: flex;
    flex-direction: column;
    visibility: hidden;
    width: 260px;
    height: auto;
    padding: 20px;
    color: white;
    background-color: $primary-color;
    position: absolute;
    z-index: 1;
    bottom: 170%;
    margin-left: -35px;
    align-items: center;
     h3 {
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.4px;
      line-height: 19.8px;
      padding-bottom: 17px;
     }
     .line-me {
        border-top: 3px solid white;
        flex-grow: 1;
        margin: 0 10px;
        width: 28px;
        margin-bottom: 11px;
     }
     p {
      font-size: 13px;
      letter-spacing: 0.4px;
      line-height: 22px;
      font-weight: 300;
     }
  }

  
  .z {
    margin-left: 15px;
  } 
  .x {
    margin-left: -90px;
  }
  .c {
    margin-left: 35px;
  }

.item:hover {
  .tooltip {
    visibility: visible;
  }
}
.bottom-sponsor {
  overflow: visible;
}
.tooltip::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -40px;
  border-width: 37.5px;
  border-style: solid;
  border-color: $primary-color transparent transparent transparent;
}
  
@media (max-width :991px) {
  .tooltip {
    margin-left: -65px;
    bottom: 210%
  }
  .z {
    margin-left: -30px;
  } 
  .x {
    margin-left: -105px;
  }
  .c {
    margin-left: -20px;
  }
}