

//Media
$breakpoint-xs: 768px;
$breakpoint-s: 992px;
$breakpoint-m: 1260px;

// Colors header
$primary-color: #333645;
$primary-hover: #22242e;
$primary-phone-hover: #121419;
$support-color: #4183d7;
$support-color-hover: #2a6ec6;
$contsearch-color: #999aa2;
$contsearch-color-hover: #84858f;
// colors header - cards
$software-color1: #67809f;
$software-color2: #526781;
$itsup-color1: #4183d7;
$itsup-color2: #286abd;
$digital-color1: #2ecc71;
$digital-color2: #25a25a;
$telecom-color1: #d64541;
$telecom-color2: #bc2c28;
$webdesign-color1: #926fb1;
$webdesign-color2: #79539a;
$cyber-color1: #f62459;
$cyber-color2: #de093f;
$devtrain-color1: #ce4125;
$devtrain-color2: #a3331d;


$nav-colors: (
    'soft' : $software-color2,
    'it' : $itsup-color2,
    'digi' : $digital-color2,
    'tele' : $telecom-color2,
    'web' :$webdesign-color2,
    'cyb' : $cyber-color2,
    'dev' : $devtrain-color2
  )