* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

html {
  font-size: 16px;
  font-family: "poppins", sans-serif;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "poppins", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  line-height: 22.85px;
  color: #666;
  height: 100%;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.main-outer {
  height: 100%;
  margin-right: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  padding: 3.75rem 0;
  text-align: center;
  color: #fff;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  margin: 0 0 1.25rem;
}

p {
  margin-bottom: 0.375rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
}

.text {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.banner {
  min-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-pic {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  vertical-align: middle;
  border: 0;
}

#services {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 50px 15px 10px;
}

.card-section {
  display: flex;
  color: #333645;
  font-size: 43.2px;
  line-height: 47.52px;
  font-weight: bold;
  margin: 0 0 10px;
}

.card-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 1px;
}

[class^=icon] {
  display: flex;
  border-radius: 50%;
  color: #fff;
  height: 65px;
  width: 65px;
  align-items: center;
  justify-content: center;
  margin: 0px 163px 17px;
}

[class^=box] {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  border-radius: 15px;
  top: 0;
  transition: 0.5s ease;
  border: 1px solid #ccc;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 35px 0px;
  align-items: center;
}

[class^=read] {
  display: flex;
  flex-direction: column;
  height: 47px;
  width: 129.73px;
  border: 1px solid transparent;
  border-radius: 3px;
  color: white;
  padding: 5px 15px;
  font-size: 1.063rem;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;
  margin-bottom: 0;
  font-weight: 400;
  transition-duration: 0.4s;
  cursor: pointer;
}

.read-soft {
  background-color: #67809f;
  border-color: #67809f;
}

.read-it {
  background-color: #4183d7;
  border-color: #4183d7;
}

.read-digi {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.read-tele {
  background-color: #d64541;
  border-color: #d64541;
}

.read-web {
  background-color: #926fb1;
  border-color: #926fb1;
}

.read-cyb {
  background-color: #f62459;
  border-color: #f62459;
}

.read-dev {
  background-color: #ce4125;
  border-color: #ce4125;
}

.icon-soft,
.box-soft:hover {
  background-color: #67809f;
}

.icon-it,
.box-it:hover {
  background-color: #4183d7;
}

.icon-digi,
.box-digi:hover {
  background-color: #2ecc71;
}

.icon-tele,
.box-tele:hover {
  background-color: #d64541;
}

.icon-web,
.box-web:hover {
  background-color: #926fb1;
}

.icon-cyb,
.box-cyb:hover {
  background-color: #f62459;
}

.icon-dev,
.box-dev:hover {
  background-color: #ce4125;
}

[class^=box]:hover [class^=h2],
[class^=box]:hover [class^=p] {
  color: #fff;
}

[class^=box]:hover .icon-soft,
[class^=box]:hover .read-soft {
  color: #67809f;
  background-color: #fff;
}

[class^=box]:hover .icon-it,
[class^=box]:hover .read-it {
  color: #4183d7;
  background-color: #fff;
}

[class^=box]:hover .icon-digi,
[class^=box]:hover .read-digi {
  color: #2ecc71;
  background-color: #fff;
}

[class^=box]:hover .icon-tele,
[class^=box]:hover .read-tele {
  color: #d64541;
  background-color: #fff;
}

[class^=box]:hover .icon-web,
[class^=box]:hover .read-web {
  color: #926fb1;
  background-color: #fff;
}

[class^=box]:hover .icon-cyb,
[class^=box]:hover .read-cyb {
  color: #f62459;
  background-color: #fff;
}

[class^=box]:hover .icon-dev,
[class^=box]:hover .read-dev {
  color: #ce4125;
  background-color: #fff;
}

.sponsors {
  display: flex;
  padding: 50px 0px;
}

.img-sponsor {
  filter: grayscale(1);
}

.img-sponsor:hover {
  filter: none;
}

.item {
  display: flex;
  padding: 0px 20px;
  align-self: center;
}

.container-welcome {
  display: flex;
  flex-direction: column;
  padding: 50px 15px;
}

.h2 {
  font-size: 1.3rem;
  color: #333645;
  padding-bottom: 10px;
  margin: 0 0 11px;
}

.p {
  font-size: 0.8125rem;
  line-height: 1.375rem;
  margin-bottom: 13px;
  color: #333645;
}

.hidden {
  display: none;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inner {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.top-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.top-nav {
  display: flex;
  flex-direction: row;
}

.bottom-container {
  display: flex;
  flex-direction: row;
}

.logo {
  height: auto;
}

.phone {
  color: #333645;
  background-color: #fff;
}

.phone:hover {
  color: #121419;
  padding-bottom: 4px;
  border-bottom: 3px solid #121419;
}

.bars {
  color: #fff;
  background-color: #333645;
  padding: 15px 15px;
  border-radius: 3px;
  margin-left: 20px;
}

.bars:hover {
  background-color: #22242e;
}

.search-bar1 {
  width: 100%;
}

.search-label {
  display: none;
}

@media (min-width: 1260px) {
  .container {
    width: 1200;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 768px) {
  .phone {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */